@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #69c5a0;
  --color-primary-dull: #126171;
}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #9effb6 #2c917b;
}

body {
  color: white;
  background-color: #033854;
}
